body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:716px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:517px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:0px;
  width:291px;
  height:517px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:250px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:44px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:15px;
  width:378px;
  height:44px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:608px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:59px;
  width:378px;
  height:608px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:296px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
